// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: #141850;
$color-white: #f8efed;
$color-black: #141850;
$color-text:  #303179;
$color-gray:  #ED7966;

// Background Colors
$bg-gray:         #F5CAC2;
$bg-gray-dark:    $color-gray;
$bg-white:        $color-white;
$bg-dark-opacity: rgba($color-black, .1);

// Border
$color-border: #FAE5DF;

// Links
$color-link: #ED7966;

// Social

$color-twitter:   #1DA1F2;
$color-facebook:  #3B5998;
$color-linkedin:  #0077B5;
$color-pinterest: #BD081C;