// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: #d71e3d;
$color-white: #FBF3EF;
$color-black: #000000;
$color-text:  #222222;
$color-gray:  #5D738D;

// Background Colors
$bg-gray:         #F4F6F8;
$bg-gray-dark:    $color-gray;
$bg-white:        $color-white;
$bg-dark-opacity: rgba($color-black, .1);

// Border
$color-border: #FBF3EF;

// Links
$color-link: $color-text;

// Social

$color-twitter:   #1DA1F2;
$color-facebook:  #3B5998;
$color-linkedin:  #0077B5;
$color-pinterest: #BD081C;
