// *----------------------------------*\
//  Settings > Type
// *----------------------------------*/

$font-serif:     'Playfair Display', serif;
$font-sans-serif: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-monospace:  Courier, monospace;

$font-size-base:   22px;
$font-size-medium: 20px;
$font-size-small:  18px;
$font-size-tiny:   16px;

$font-weight-light:   300;
$font-weight-regular: 400;
$font-weight-medium:  500;
$font-weight-bold:    600;

$line-height-base:   round($font-size-base   * 1.55);
$line-height-medium: round($font-size-medium * 1.55);
$line-height-small:  round($font-size-small  * 1.55);
$line-height-tiny:   round($font-size-tiny   * 1.55);