---
layout: default
---

<div class='o-wrapper'>
  
    <div class='o-grid'>
      <div class='o-grid__col o-grid__col--center o-grid__col--3-4-m o-grid__col--2-3-l'>
        <h1 class='c-post-hero__title'>{{ page.title }}</h1>
        <article class='c-post page'>

          <div class='c-content'>
            {{ content }}
          </div>
          <div class="all-tags">
            All tags:
            <ul>
              {% assign tags = site.posts | all_tags %}
              {% for tag in tags %}
                {% assign tag_slug = tag['name'] | slugify: "raw" %}
                <li>
                  <a class="tag-link"
                    href={{ site.baseurl | append: "/tag/" | append: tag_slug | append: "/" }}
                    rel="category tag">
                    {{ tag['name'] }} ({{ tag['count'] }})
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        
  
        </article>
      </div>
    </div>
  
  </div>

  