---
layout: default
---

<div class='o-wrapper'>
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>
      <div class='c-archive'>
        <h4 class='c-archive__title'>{{ page.tag }}</h4>
      </div>
    </div>
  </div>

  <div class='o-grid js-grid'>
    <ul>
      {% for post in site.tags[page.tag] %}
      <li>
      <a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }})<br>
        {{ post.description }}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
